html, body {
    background-color: #121212;
    background-image: url("https://source.unsplash.com/category/buildings/1920x1080");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.blur-div {
    background-color: #3e3e3e;
    opacity: 0.2;
    width: 100%;
    height: 97.5vh;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-filter: blur(55px);
    -moz-filter: blur(55px);
    -o-filter: blur(55px);
    -ms-filter: blur(55px);
    filter: blur(55px);
}

.not-blur-div {
    background-color: #3e3e3e;
    opacity: 0.2;
    width: 100%;
    height: 97.5vh;
    top: 0;
    left: 0;
    z-index: 2;
}
