@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

html, body {
    background-color: #121212;
    background-image: url("https://source.unsplash.com/1600x900/?nature,water?sig=1");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Droid Sans', sans-serif;
}

.not-blur-div {
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 1;
    width: 98vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.timeDisplay {
    color: rgba(255, 255, 255, 0.9);
    z-index: 3;
    font-size: 10vw;
    text-align: center;
}

.inline {
    display: inline;
}

.hide{
  display: none;
}

.input-field label{
  color: white !important;
}

input {
  color: white !important;
  border-bottom: 1px solid white !important;
}
/* label focus color */
 .input-field input:focus + label {
   color: #ababab !important;
 }
 /* label underline focus color */
.input-field input:focus {
   border-bottom: 1px solid #ababab !important;
   box-shadow: 0 1px 0 0 #ababab !important
 }

.form {
  margin: auto;
  width: 50vw;
  text-align: center;
}

input[type=submit] {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  transition: all 0.2s;
}

input[type=submit]:hover {
  background: none;
  border: 1px solid #d1d1d1;
  color: #d1d1d1;
  padding: 10px 25px;
}
